// ==================== ENVIRONMENT ====================

// Передаём переменные окружения systemd.
// Должно запускаться самым первым.
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY DISPLAY XDG_CURRENT_DESKTOP=niri XDG_SESSION_TYPE=wayland"

// ==================== NOCTALIA V5 ====================

// Запуск оболочки
spawn-at-startup "noctalia"

// ==================== APPLICATIONS ====================

// Discord
spawn-sh-at-startup "sleep 2 && ~/.local/bin/vesktop-wayland"

// Telegram
spawn-sh-at-startup "sleep 3 && flatpak run com.ayugram.desktop"

// Spotify
spawn-sh-at-startup "sleep 4 && spotify"

// Steam
spawn-sh-at-startup "sleep 8 && steam -silent"

// Wallpaper
spawn-at-startup "waypaper" "--restore"
