binds {

    // ==================== HOTKEYS ====================

    Mod+Shift+Escape {
        show-hotkey-overlay;
    }
    Mod+V {
    spawn-sh "noctalia msg panel-toggle clipboard";
}    
    // ==================== APPLICATIONS ====================

    Mod+Return {
        spawn "alacritty";
    }

    Mod+Space {
        spawn-sh "noctalia msg panel-toggle launcher";
    }

    Mod+Comma {
        spawn-sh "noctalia msg settings-toggle";
    }

    Mod+E {
        spawn "nautilus";
    }

    Mod+T {
        spawn "brave";
    }

    // ==================== MEDIA ====================

    Mod+A {
        spawn "playerctl" "previous";
    }

    Mod+S {
        spawn "playerctl" "play-pause";
    }

    Mod+D {
        spawn "playerctl" "next";
    }

    // ==================== VOLUME ====================

    CTRL+WheelScrollUp {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+";
    }

    CTRL+WheelScrollDown {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-";
    }

    XF86AudioRaiseVolume {
        spawn-sh "noctalia msg volume-up";
    }

    XF86AudioLowerVolume {
        spawn-sh "noctalia msg volume-down";
    }

    XF86AudioMute {
        spawn-sh "noctalia msg volume-mute";
    }

    // ==================== BRIGHTNESS ====================

    XF86MonBrightnessUp {
        spawn-sh "noctalia msg brightness-up";
    }

    XF86MonBrightnessDown {
        spawn-sh "noctalia msg brightness-down";
    }

    // ==================== WINDOWS ====================

    Mod+Q {
        close-window;
    }

    Mod+Z {
        focus-column-left;
    }

    Mod+C {
        focus-column-right;
    }

    Mod+W {
        expand-column-to-available-width;
    }

    Mod+X {
        center-column;
    }

    Mod+WheelScrollUp {
        set-column-width "+10%";
    }

    Mod+WheelScrollDown {
        set-column-width "-10%";
    }

    Shift+WheelScrollUp {
        set-window-height "+10%";
    }

    Shift+WheelScrollDown {
        set-window-height "-10%";
    }

    // ==================== WORKSPACES ====================

    Alt+Z cooldown-ms=150 {
        focus-workspace-up;
    }

    Alt+C cooldown-ms=150 {
        focus-workspace-down;
    }

    // ==================== SCREENSHOTS ====================

    Print {
        screenshot;
    }

    // ==================== OVERVIEW ====================

    Mod+G repeat=false {
        toggle-overview;
    }

    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit;
    }
}
