layout {
    // ======================================================
    // GENERAL
    // ======================================================

    gaps 14

    center-focused-column "never"

    background-color "transparent"

    struts {}

    // ======================================================
    // COLUMN PRESETS
    // ======================================================

    preset-column-widths {
        proportion 0.33
        proportion 0.50
        proportion 0.66
        proportion 0.75
    }

    // ======================================================
    // FOCUS RING
    // ======================================================

    focus-ring {
        width 3

        active-color "#89b4fa"
        inactive-color "#313244"
    }

    // ======================================================
    // BORDER
    // ======================================================

    border {
        width 0
    }
}

overview {
    zoom 0.68

    backdrop-color "#11111bdd"

    workspace-shadow {
        off
    }
}
