window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

blur {
    passes 2
    offset 3.0
    noise 0.03
    saturation 1.0
}

window-rule {
    background-effect {
        blur true
        xray false
    }
}
