spawn-sh-at-startup "sleep 2 && dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri"

spawn-sh-at-startup "sleep 1 && qs -c noctalia-shell"
spawn-sh-at-startup "sleep 3 && ~/.local/bin/vesktop-wayland"
spawn-sh-at-startup "sleep 5 && flatpak run com.ayugram.desktop"
spawn-sh-at-startup "sleep 7 && spotify"
